{% extends 'quiz/new_update_quiz_common.html' %}
{% load static %}

{% block content %}
<div class="container">

    <form action='{% url "new-quiz" %}' method='post' class="quiz-form">
        {% csrf_token %}

        {% include 'quiz/settings_modal.html' %}

        <div class="heading">
            
            <input type='text' class="heading__text" name='quiz' required autofocus placeholder="ชื่อวิชา">
        
        </div>


         <div align="center">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   เลือกประเภทแบบทดสอบ
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                     
                    <button  id='addShort' class="dropdown-item"  >แบบเลือกตอบ</button>
                    <button id='addMcq' class="dropdown-item"  >แบบเติมคำ</button>
                </div>
            </div>
        </div>  



        <!--ส่วนของข้อคำถาม ค่าเริ่มต้น-->
        <!-- <div class="question">
            <label for="q_1">1.</label>
            <input type="text" name="q_1" id="q_1" class="quiz-form__question" required>

            {% include 'quiz/new_quiz_choices.html' %}

            <div class="footer">
                <div class="point">
                    <input type="number" name="1_point" value=1 min=0 required>
                    <span>คะแนน</span>
                </div>
                <div class='footerBtns'>
                    <button type="button" class='mcqDuplicateBtn duplicateBtn'>ทำสำเนา</button>
                    <button type="button" class='deleteBtn'>ลบ</button>
                </div>
            </div>
        </div>   -->
        <!--ส่วนท้ายของส่วนของข้อคำถาม ค่าเริ่มต้น-->

        <button type='submit' id='submit' hidden></button>

    </form>
</div>

{% endblock content %}