<!--ต้องแก้ไขเนื่องจากเป็นส่วนจากการแก้ไข-->


{% extends 'quiz/new_update_quiz_common.html' %}
{% load static %}

{% block content %}
<div class="container">

    <form action='{% url "quiz-update" quiz.id %}' method='post' class="quiz-form">
        {% csrf_token %}

        {% include 'quiz/settings_modal.html' %}

        <div class="heading">
            <input type='text' class="heading__text" name='quiz' required autofocus value={{quiz.name}}>
        </div>

        {% for question in quiz.question_set.all %}

        <div class="question">





            <!-- var select = document.createElement("select");
                select.name = `qt_${q_number}`;
                select.id = `qt_${q_number}`;
            
                for (const val of values) {
                    var option = document.createElement("option");
                    option.value = val;
                    option.text = val.charAt(0).toUpperCase() + val.slice(1);
                    select.appendChild(option);
                } -->
            <!-- var values = ["ด้านพุทธิพิสัย", "จำ ", "เข้าใจ ", "ประยุกต์ใช้ ", "วิเคราะห์ ", "ประเมินค่า ", "สร้างสรรค์ "]; -->


            <div class="row">
                <div class="col-8">
                    <label for="q_{{forloop.counter}}">{{forloop.counter}}.</label>
                    <input type="text" name="q_{{forloop.counter}}" id="q_{{forloop.counter}}"
                        class="quiz-form__question" required value='{{question.question}}'>
                </div>
                <div class="col-4">

                    {% if question.typequestion == 'เข้าใจ' %}
                    <select id="qt_{{forloop.counter}}" name="qt_{{forloop.counter}}">
                        <option value="จำ">จำ</option>
                        <option value="เข้าใจ" selected>เข้าใจ</option>
                        <option value="วิเคราะห์">วิเคราะห์</option>
                        <option value="ประเมินค่า">ประเมินค่า</option>
                        <option value="สร้างสรรค์">สร้างสรรค์</option>
                        <option value="ประยุกต์ใช้">ประยุกต์ใช้</option>
                    </select>
                    {% elif question.typequestion == 'จำ' %}
                    <select id="qt_{{forloop.counter}}" name="qt_{{forloop.counter}}">

                        <option value="จำ" selected>จำ</option>
                        <option value="เข้าใจ">เข้าใจ</option>
                        <option value="วิเคราะห์">วิเคราะห์</option>
                        <option value="ประเมินค่า">ประเมินค่า</option>
                        <option value="สร้างสรรค์">สร้างสรรค์</option>
                        <option value="ประยุกต์ใช้">ประยุกต์ใช้</option>
                    </select>
                    {% elif question.typequestion == 'วิเคราะห์' %}
                    <select id="qt_{{forloop.counter}}" name="qt_{{forloop.counter}}">

                        <option value="จำ">จำ</option>
                        <option value="เข้าใจ">เข้าใจ</option>
                        <option value="วิเคราะห์" selected>วิเคราะห์</option>
                        <option value="ประเมินค่า">ประเมินค่า</option>
                        <option value="สร้างสรรค์">สร้างสรรค์</option>
                        <option value="ประยุกต์ใช้">ประยุกต์ใช้</option>
                    </select>
                    {% elif question.typequestion == 'ประเมินค่า' %}
                    <select id="qt_{{forloop.counter}}" name="qt_{{forloop.counter}}">

                        <option value="จำ">จำ</option>
                        <option value="เข้าใจ">เข้าใจ</option>
                        <option value="วิเคราะห์">วิเคราะห์</option>
                        <option value="ประเมินค่า" selected>ประเมินค่า</option>
                        <option value="สร้างสรรค์">สร้างสรรค์</option>
                        <option value="ประยุกต์ใช้">ประยุกต์ใช้</option>
                    </select>
                    {% elif question.typequestion == 'สร้างสรรค์' %}
                    <select id="qt_{{forloop.counter}}" name="qt_{{forloop.counter}}">

                        <option value="จำ">จำ</option>
                        <option value="เข้าใจ">เข้าใจ</option>
                        <option value="วิเคราะห์">วิเคราะห์</option>
                        <option value="ประเมินค่า">ประเมินค่า</option>
                        <option value="สร้างสรรค์" selected>สร้างสรรค์</option>
                        <option value="ประยุกต์ใช้">สร้างสรรค์</option>
                        <option value="ประยุกต์ใช้">ประยุกต์ใช้</option>
                    </select>

                    {% elif question.typequestion == 'ประยุกต์ใช้' %}
                    <select id="qt_{{forloop.counter}}" name="qt_{{forloop.counter}}">

                        <option value="จำ">จำ</option>
                        <option value="เข้าใจ">เข้าใจ</option>
                        <option value="วิเคราะห์">วิเคราะห์</option>
                        <option value="ประเมินค่า">ประเมินค่า</option>
                        <option value="สร้างสรรค์">สร้างสรรค์</option>
                        <option value="ประยุกต์ใช้" selected>ประยุกต์ใช้</option>
                    </select>

                    {% endif %}
                </div>
            </div>

            <!-- <select id="qt_{{forloop.counter}}" name="qt_{{forloop.counter}}">
                <option value="ด้านพุทธิพิสัย">ด้านพุทธิพิสัย</option>
                <option value="จำ">จำ</option>
                <option value="เข้าใจ">เข้าใจ</option>
                <option value="วิเคราะห์" selected>วิเคราะห์</option>
                <option value="ประเมินค่า">ประเมินค่า</option>
                <option value="สร้างสรรค์">สร้างสรรค์</option>
            </select> -->



            {% include 'quiz/quiz_update_choices.html' %}

            <div class="footer">
                <div class="point">
                    <input type="number" name="{{forloop.counter}}_point" value='{{question.point}}' min=0 required>

                    <span>points</span>
                </div>
                <div class='footerBtns'>
                    <button type="button" class="duplicateBtn
                    {% if question.type == 'mcq' %}
                    mcqDuplicateBtn
                    {% elif question.type == 'checkbox' %}
                    checkboxDuplicateBtn
                    {% elif question.type == 'short' %}
                    shortDuplicateBtn
                    {% endif %}
                    ">ทำสำเนา</button>
                    <button type="button" class='deleteBtn'>ลบ</button>
                </div>
            </div>
        </div>

        {% endfor %}
        <button type='submit' id='submit' hidden></button>
    </form>
</div>

{% endblock content %}