
 <!-- หน้าเมนูการตั้งค่า -->
<div class="modal fade" id="settingsModal" role="dialog" data-backdrop="static" data-keyboard="false"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ตั้งค่า</h5>
              
            </div>
            <div class="modal-body">
                <div class="timer-checkbox">
                    <p> เปิดใช้งานตัวจับเวลา </p>
                    <label class="col-form-label switch">
                        <input type="checkbox" name='timer-enabled' autofocus {% if quiz.timeLimit is not None %}
                            checked {%endif %}>
                        <span class="slider round"></span>
                    </label>
                </div>

                <div class="timer mt-2" {% if quiz.timeLimit is None %} style="display: none;" {%endif %}>
                    <label class="col-form-label mt-2">ระยะเวลาจับเวลา(นาที)</label>
                    <input type="number" name='time-limit' min=1 value='{{quiz.timeLimit}}'>

                    <label class="col-form-label mt-2">วันที่เริ่มต้น</label>
                    <input type="date" name='start-date' value='{{startDate}}'>

                    <label class="col-form-label mt-2">เวลาที่เริ่มต้น</label>
                    <input type="time" name='start-time' value='{{startTime}}'>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id='saveSettings' data-dismiss="modal">บันทึก</button>
                <button type="button" class="btn btn-danger" id='cancelSettings' data-dismiss="modal">ยกเลิก</button>
            </div>
        </div>
    </div>
</div>